.img-list-procedures {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
hr{
    color: #5a7b8c;
    background-color: #5a7b8c;
    height: 1px;
}
.price input{
    margin-bottom: 2px;
    width: 100%;
}
.price p{
    font-weight: bolder;
}
.btn-add-procedure{
    margin-bottom: 15px;
}
.category-name{
    display: inline-block;
}

.btn-add-category{
    margin-top: 22px;
    margin-bottom: 10px;
    margin-left: 3px;
    float: right;
}
@media(max-width: 768px){
    .btn-add-category{
        margin-top: 5px;
        float: left;
    }
}

thumb
{
    width: 50px;
    height: 50px;
    margin: 0.2em -0.7em 0 0;
}
.remove_img_preview
{
    position:relative;
    top:0px;
    right:5px;
    background:black;
    color:white;
    border-radius:50px;
    font-size:0.9em;
    padding: 0 0.3em 0;
    text-align:center;
    cursor:pointer;
}
.remove_img_preview:before
{
    content: "X";
}
.hr-separator{
    margin-bottom: 0px;
    margin-top: 20px;
}
.photos img:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.photos img:focus {
    opacity: 0.4;
    transition: 0.1s;
}

.photos img {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5%;


}
.btn-delete{
    padding: 2px 5px;
    margin-bottom: 10px;
    float: right;
}
.input-category-name{
    margin-bottom: 10px;
    width: 100%;
    height: 35px;
}