/*@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300&subset=cyrillic');
body {
    font-family: Roboto;
    line-height: 1.5;
    /*    font-size: 1.5em;*/
}

a {
    color: #6E7074;
}

a:hover,
a:focus {
    color: #ed6fcb;
    text-decoration: none;
}

header {
    box-shadow: 0 0 5px #aaa;
    padding-top: 1%;
}

.btn-order-header:hover {
    color: #343434;
    background: #f3b5d4;
    transition: 0.2s;
}

.btn-order-header {
    background: #F4C2DB;
    color: #6E7074;
    border: none;
    border-radius: 5px;
    padding: 2px 15px;
    margin-right: 20px;
    float: right;
    font-size: 1.1em;
}

.logo {
    float: right;
}

@media(max-width: 768px) {
    .btn-order-header {
        margin-top: 10px;
        float: left;
        height: 30px;
        margin-left: 15px;
    }
    .logo {
        margin-top: 10px;
        float: none;
    }
}

.navbar-default {
    background-color: white;
    border: none;
}

.navbar {
    min-height: 0px;
    margin-top: 8px;
    width: 100%;
    margin-bottom: 0px;
}

@media(min-width: 768px) {
    .nav {
        width: 100%;
        display: flex;
    }
}

.navbar-nav>li {
    flex-basis: auto;
    flex-grow: 1;
}

.navbar-nav>li>a {
    padding: 7px 15px;
    font-size: 1.2em;
    text-align: center;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ed6fcb;
    transition: 0.3s;
}

.width100proc {
    width: 100%;
    height: auto;
}

.vcenter {
    margin-left: auto;
    margin-right: auto;
}

.dropdown-toggle {
    cursor: pointer;
}

.navbar-default .navbar-toggle {
    border: none;
    background: #F4C2DB;
}

.navbar-default .navbar-toggle:focus {
    background: #F4C2DB;
}

.dropdown-menu {
    text-align: center;
    border: none;
}

.dropdown-menu li {
    padding-top: 5px;
    padding-bottom: 5px;
}


/*
.dropdown-menu > li > a{
    padding-top: 0px;
    padding-bottom: 0px;
}
*/

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: white;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #ed6fcb;
    text-decoration: none;
    background-color: white;
}

.carousel-inner>.item>img {
    width: 100%;
    height: auto;
}

.carousel.fade {
    opacity: 1;
}

.carousel.fade .item {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 1.5s;
}

.carousel.fade .item.active {
    position: relative;
    opacity: 1;
}

.small-rose-hline {
    border-color: #F4C2DB;
    width: 200px;
}

.procedures {
    margin-top: 1%;
}

.procedures a {
    transition: 0.2s;
}

.procedures img:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.procedures img:focus {
    opacity: 0.4;
    transition: 0.1s;
}

.procedures img {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.procedures p {
    text-align: center;
    margin-bottom: 5%;
}

.photos img:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.photos img:focus {
    opacity: 0.4;
    transition: 0.1s;
}

.photos img {
    width: 100%;
    margin-bottom: 6%;
}

.paralax {
    background-image: url('../img/paralax.png');
    /* The image used */
    /* Set a specific height */
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    color: white;
    padding: 2% 10%;
}

.paralax-page {
    background-image: url('../img/main-page/2.jpg');
    /* The image used */
    /* Set a specific height */
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    color: white;
    padding: 2% 10%;
}

.paralax h3 {
    margin: 6px;
    display: inline-block;
}

@media(max-width: 768px) {
    .paralax .row {
        text-align: center;
    }
    .paralax button {
        margin-top: 4%;
    }
}

.paralax button {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    padding: 5px 15px;
    font-size: 1.3em;
}

.paralax button:hover {
    color: #e0a1cf;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}

@media(max-width:768px) {
    footer {
        text-align: center;
    }
}

footer {
    background-color: #1B1C1D;
    color: #b5b5b5;
    padding-top: 20px;
}

.socnets>a {
    display: inline-block
}

.socnets>a>img {
    width: 40px;
}

footer .col-sm-3 {
    margin-bottom: 30px;
}

.copyrights>p>a {
    color: #b5b5b5;
    font-weight: bold
}

.copyrights a:hover,
a:focus {
    color: #ed6fcb;
    text-decoration: none;
}

.carousel {
    margin-bottom: 2%;
}

.post-content {
    margin-top: 30px;
}

.post-sidebar {
    margin-top: 30px;
}

.post-sidebar>a {
    display: block;
    padding-left: 5%;
    margin-bottom: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid #f3b5d4;
}

.post-sidebar .active {
    font-weight: bold;
}

@media(min-width: 768px) {
    .container-contacts {
        width: 80%;
    }
}

.rose-line-small {
    border-color: #ed6fcb;
    margin-top: 0px;
    width: 70px;
    float: left;
}

.contacts h4,
p {
    margin-bottom: 5px;
}

.online-reservation {
    font-weight: bolder;
    color: #ed6fcb;
    text-decoration: underline;
}

.margin-top-20px {
    margin-top: 25px;
}

form[name="contact-form"] label,
input {
    width: 100%;
}

form[name="contact-form"] input,
textarea[name="message"] {
    border: 1px solid #CCC;
    border-radius: 2px;
    outline: 0 none;
    height: auto;
    padding: 5px;
    font-weight: 300;
    line-height: normal;
}

form[name="contact-form"] input:hover,
textarea[name="message"]:hover {
    transition: border-color 0.2s ease-in-out;
    border: 1px solid #888;
}

form[name="contact-form"] input:focus,
textarea[name="message"]:focus {
    transition: border-color 0.3s ease-in-out;
    border-color: #e0a1cf !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(224, 161, 207, 0.6);
    outline: 0 none;
}

@media(min-width:768px) {
    .email-input {
        padding-left: 0px;
    }
    .tel-input {
        padding-right: 0px;
    }
}

@media(max-width:768px) {
    .email-input {
        padding-left: 0px;
        padding-right: 0px;
    }
    .tel-input {
        padding-right: 0px;
        padding-left: 0px;
    }
}

form[name="contact-form"] textarea[name="message"] {
    width: 100%;
}

form[name="contact-form"] input[type="submit"] {
    width: 30%;
    border: none;
    background: #e0a1cf;
    color: #FFF;
    margin: 0 0 5px;
    padding: 5px;
    border-radius: 2px;
    float: right;
    display: inline-block;
    height: 44px;
}

form[name="contact-form"] input[type="submit"]:hover {
    background: rgb(105, 105, 105);
    transition: background-color 0.3s ease-in-out;
}

.photo-group-name h3 {
    margin-top: 4%;
}

.action-items {
    margin-top: 5px;
}

.actions-container {
    padding-left: 20px;
    padding-right: 20px;
}

.action-item hr {
    border-color: #f3b5d4;
    margin-top: 0px;
    margin-bottom: 10px;
}

.price-table {
    border-spacing: 3px;
    border-collapse: separate;
    width: 99%;
    margin-bottom: 20px;
}
.price-table td {
    background: #f8f8f8;
    padding: 5px;
    vertical-align: center;
}
.price-table h4 {
    margin-bottom: 3px;
    margin-top: 3px;
    font-weight: bold;
}
.price-table td:hover, td:focus{
    background: #ededed;
    transition: 0.2s ease-in-out;
}


